@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.6em;
  color: #111;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

body {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #1a1a1a;
}

p {
  margin-bottom: 1em;
  font-size: 1rem;
  font-weight: 500;
}

header {
  padding: 16px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 32px;
}

.navbar__items a,
.btn {
  text-decoration: none;
  margin-left: 15px;
  color: inherit;
}

.btn {
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: black;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-outline {
  color: black;
  border: 1px solid black;
  background-color: transparent;
}

.btn-outline-white {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.hero .wrapper {
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero h1 {
  font-size: 4.5rem;
}

.hero__tagline {
  color: rgb(118, 110, 110);
}

.hero .text-center {
  max-width: 600px;
}

.spacing {
  padding: 64px 0;
}

.card__wrapper {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 8px;
}

.card__details {
  display: flex;
  flex-direction: column;
}

.section__two .wrapper,
.contact__banner .wrapper {
  background-color: black;
  color: white;
  padding: 40px 0;
  border-radius: 20px;
}

.section__two h2,
.contact__banner h2 {
  color: white;
}

.contact__banner p,
.section__two p {
  font-size: 0.9rem;
}

.about {
  padding: 80px 0;
}

.about__tagline {
  color: gray;
}

.about .wrapper {
  max-width: 600px;
}

.stats__wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.stats p {
  color: gray;
}

.about__wrapper {
  display: flex;
  gap: 15px;
}

.about__items {
  background-color: oklch(98.5% 0.002 247.839);
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about__left p {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
}

.about__left {
  flex: 1;
}

.about__right {
  flex: 1;
}

.about-section__three .text-center {
  max-width: 500px;
  margin: 0 auto;
}

.about-section__three .text-center p {
  color: gray;
  font-size: 0.9rem;
}

.contact__hero .wrapper {
  max-width: 600px;
}

.contact__tagline {
  color: gray;
}

.contact__hero h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.contact__hero p {
  font-size: 0.9rem;
  color: gray;
}

.contact__fields {
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex: 1;
}

.contact__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: gray;
  padding: 30px 30px;
  background-color: oklch(98.5% 0.002 247.839);
}

.contact-form__wrapper {
  display: flex;
  gap: 15px;
}

.contact__col {
  display: flex;
  gap: 10px;
}

.contact__left,
.contact__right {
  flex: 1;
}

.contact__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid gray;
}
